<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Antlr" version="3.4.1.9004" targetFramework="net40" />
  <package id="AttributeRouting.Core" version="3.5.6" targetFramework="net40" />
  <package id="AttributeRouting.Core.Http" version="3.5.6" targetFramework="net40" />
  <package id="AttributeRouting.Core.Web" version="3.5.6" targetFramework="net40" />
  <package id="AttributeRouting.WebApi" version="3.5.6" targetFramework="net40" />
  <package id="AutoMapper" version="2.2.1" targetFramework="net40" />
  <package id="Castle.Core" version="3.2.1" targetFramework="net40" />
  <package id="Castle.Core-log4net" version="3.2.0" targetFramework="net40" />
  <package id="Castle.LoggingFacility" version="3.2.0" targetFramework="net40" />
  <package id="Castle.WcfIntegrationFacility" version="3.2.0" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.2.1" targetFramework="net40" />
  <package id="Castle.Windsor-log4net" version="3.2.0.1" targetFramework="net40" />
  <package id="cb.ko.binding.chosen" version="1.0.4" targetFramework="net40" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
  <package id="FluentValidation" version="4.0.0.0" targetFramework="net40" />
  <package id="Glimpse" version="1.8.0" targetFramework="net40" />
  <package id="Glimpse.Ado" version="1.7.0" targetFramework="net40" />
  <package id="Glimpse.AspNet" version="1.6.0" targetFramework="net40" />
  <package id="Glimpse.EF5" version="1.6.0" targetFramework="net40" />
  <package id="Glimpse.Mvc4" version="1.5.1" targetFramework="net40" />
  <package id="harvesthq.chosen" version="1.0.0" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net40" />
  <package id="jQuery" version="1.9.1" targetFramework="net40" />
  <package id="jQuery.BlockUI" version="2.60.1" targetFramework="net40" />
  <package id="jQuery.jqGrid" version="4.4.4" targetFramework="net40" />
  <package id="jQuery.Migrate" version="1.1.1" targetFramework="net40" />
  <package id="jQuery.UI.Combined" version="1.10.3" targetFramework="net40" />
  <package id="jQuery.Validation" version="1.8.1" targetFramework="net40" />
  <package id="Knockout.BindingConventions" version="1.0.68.0" targetFramework="net40" />
  <package id="Knockout.Bootstrap" version="1.0.7.0" targetFramework="net40" />
  <package id="Knockout.Mapping" version="2.4.0" targetFramework="net40" />
  <package id="Knockout.Validation" version="1.0.1" targetFramework="net40" />
  <package id="knockoutjs" version="2.3.0" targetFramework="net40" />
  <package id="ko.plus" version="0.0.13" targetFramework="net40" />
  <package id="log4net" version="1.2.10" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.1" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.3" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.10" targetFramework="net40" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="2.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.2.15" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="MiniProfiler" version="2.1.0" targetFramework="net40" />
  <package id="Moment.js" version="2.2.1" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net40" />
  <package id="NLog" version="2.0.0.2000" targetFramework="net40" />
  <package id="ServiceStack.Text" version="3.9.46" targetFramework="net40" />
  <package id="toastr" version="2.0.1" targetFramework="net40" />
  <package id="Twitter.Bootstrap" version="3.0.0" targetFramework="net40" />
  <package id="Twitter.Bootstrap.Less" version="3.0.0" targetFramework="net40" />
  <package id="Twitter.Typeahead" version="0.9.3" targetFramework="net40" />
  <package id="Twitter.Typeahead.MVC" version="1.0.5" targetFramework="net40" />
  <package id="WebActivator" version="1.4.4" targetFramework="net40" />
  <package id="WebActivatorEx" version="2.0.3" targetFramework="net40" />
  <package id="WebApiContrib.IoC.CastleWindsor" version="0.9.4.0" targetFramework="net40" />
  <package id="WebGrease" version="1.5.2" targetFramework="net40" />
</packages>